.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.rainbow {
    position: absolute;
    top: 120px;
}